 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

 /* common css */
 * {
     font-family: 'Lato', sans-serif;
     margin: 0;
     padding: 0;
 }

 /* header section start */
 .header-container {
     background: rgba(229, 84, 115, 0.10);
     margin-bottom: 50px;


 }

 .header-section {

     display: flex;
     justify-content: space-around;
     padding: 30px 100px 0px 100px;
     align-items: center;

 }

 .header-section h1 {
     color: #272727;
     font-size: 55px;
     font-weight: 900px;
     font-weight: bold;

 }

 .header-section p {
     color: rgba(39, 39, 39, 0.60);
     font-size: 16px;
     font-weight: 400;

     padding-top: 16px;
     padding-bottom: 12px;
 }

 .btn-primary {

     padding: 13px 43px;
     border-radius: 8px;
     background: #E55473;
     color: white;
     border: 0;
     font-size: 17px;

 }

 /* main section start*/
 .main-container {
     margin-bottom: 200px;
 }

 .flower-feature {
     text-align: center;
 }

 .flower-feature h1 {
     color: #272727;
     font-size: 40px;
     font-weight: 800;

 }

 .flower-feature p {
     color: black;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin-bottom: 20px;
 }

 .pink-flower {
     display: flex;

     justify-content: center;
     align-items: center;



 }

 .flower-div {
     padding-right: 23px;
     width: 300px;

 }

 .pink-flower .flower-img {
     display: block;
     width: 350px;
     height: 350px;
     width: 100%;



 }

 .flower-div p {
     text-align: center;
     padding-top: 20px;
     color: #272727;
     font-weight: bold;
     text-decoration-line: underline;
 }

 .img-bg-color-1 {

     width: 464px;
     height: 538px;

     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);

 }

 .img-bg-color-2 {

     width: 464px;
     height: 538px;

     border-radius: 300px 300px 0px 0px;
     background: rgba(5, 151, 160, 0.15);

 }

 .img-bg-color-3 {

     width: 464px;
     height: 538px;

     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);

 }

 /* hot deal,sale up section
 */
 .instragram-section {
     margin: 0px 250px 120px 250px;
 }

 .sale-up-container {
     margin-top: 70px;
 }

 .deal-part {
     text-align: center;

 }

 /* subscribe section  */

 .subscribe-container {
     border: 1px solid black;
     max-width: 1000px;
     height: 350px;
     margin: 0 auto;
     background-image: url('../Flower\ Asset/Rectangle 9.png');


 }

 

 .main-div {
    margin-top: 80px ;
 }

 .input {
     width: 500px;
     height: 50px;
     border-radius: 8px;
     background: #FFF;
     border: 0;
     padding-left: 15px;
     margin-right: 10px;

 }
 .btn-div{
    text-align: center;
 }